APScheduler==3.10.4
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-WTF==1.2.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pyodbc==5.1.0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlanydb==1.0.14
tzdata==2024.1
tzlocal==5.2
waitress==3.0.0
Werkzeug==3.0.3
WTForms==3.1.2